h1, h3
{
    text-align:center;
}
h3
{
    background-color:black;
    color:white;
    font-size:0.9em;
    margin-bottom:0px;
}
article p
{
    background-color:#CCCCCC;
    margin-top:0px;
}
article
{
    width:70%;
    margin:auto;
}

a
{
    text-decoration: none;
    color: blue;
}
.com,#pag{
    width:70%;
    margin:0 auto;
}

input:valid:not(.envoyer){
    border: 2px solid green;
    background-color:#BCEE68 ;
}
input:invalid,textarea:invalid{
    border: 2px solid red;
    background-color:#FFB6C1 ;
}
form{

    width:50%;
    margin:auto;
    background-color: #CCCCCC;
    border:1px solid #696969;
    border-radius: 20px;
    
}
.envoyer:valid {
    border-right: 0;
}

form h2{
    color:#696969;
}
.envoyer{
    color:white;
    display: block;
    margin:0 auto;
   width: 200px;
   background-color: #696969;
}

input:focus,textarea:focus{
    background-color: #c4c4c4;
    
}
label{
    display:inline-block;
    width:150px;
    margin:10px;
}
.pagination{
    width:50%;
    text-align: center;
    margin:auto;
}
.envoie{
    width: 40%;
    margin:auto;
    font-size: 110%;
    text-align: center;
    border:1px solid #006400;
    background-color:#BCEE68 ;
    color:#006400;
}
p img{
    float:left;
    margin-bottom: 30px;
}

.com{
    clear: both;
    
}
#connec,#add{
    width:25%;
    margin:auto;
    background-color: #CCCCCC;
    border:1px solid #696969;
    border-radius: 20px;
}
#connec h2{
    text-align: center;
}
#connec form{
    width:100%;
}
.deco{
    width: 40%;
    margin:auto;
    font-size: 110%;
    text-align: center;
    border:1px solid red;
    background-color:#FFB6C1 ;
    color:red;
}